<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
        <style>
            body{

                 background-color: lightblue;
            }
h1 {
  /*border: 1px solid black;*/
 
  padding-top: 250px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 550px;
}
</style>
    </head>
    <body>
        <h1>
            404 Not Found
        </h1>
    </body>
</html>